<div class="footer footer-padding">
  <div class="hr"></div>
  <div class="copyright">
    © 2007-<%= Date.today.year.to_s %> Gene M. Angelo, Jr. All Rights Reserved.
  </div>

  <div>
    For additional
    information: <%= image_tag('mail-white-on-black.png', alt: 'Contact', style: 'vertical-align:middle;') %>
    <%= @contact_email %>.
  </div>

  <div>
    Last Updated <%= @view_last_modified_date %>, Version 1.0.0.2 (Release)
  </div>

  <div><%= image_tag('rails.png', alt: 'Built with Rails', style: 'margin-top:8px;') %>
    <a href='http://www.catb.org/hacker-emblem/' target="_blank">
      <img src='http://www.catb.org/hacker-emblem/glider.png' alt='hacker emblem'/></a>
    <%= image_tag('aspnet-logo.png', alt: 'asp.net/mvc', style: 'margin-top:8px;') %>
    <%= image_tag('jquery-logo.png', alt: 'jquery', style: 'margin-top:8px;') %>
    <%= image_tag('html5-logo.png', alt: 'html5', style: 'margin-top:8px;') %>
    <%= image_tag('mac-logo.png', alt: 'mac', style: 'margin-top:8px;') %>
    <%= image_tag('windows-logo.png', alt: 'windows', style: 'margin-top:8px;') %>
    <%= image_tag('ruby-logo.png', alt: 'ruby', style: 'margin-top:8px;') %>
    <%= image_tag('vs2012-logo.jpg', alt: 'vs2012', style: 'margin-top:8px;') %>
    <%= image_tag('rubymine-logo.png', alt: 'jet brains rubymine', style: 'margin-top:8px;') %>
    <%= image_tag('github-logo.png', alt: 'github', style: 'margin-top:8px;') %>
    <%= image_tag('heroku-logo.png', alt: 'heroku', style: 'margin-top:8px;') %>
    <%= image_tag('sqlserver-logo.png', alt: 'sql server', style: 'margin-top:8px; margin-left:5px;margin-right:5px;') %>
    <%= image_tag('sass-logo.gif', alt: 'sassy css (sass)', style: 'margin-top:8px;') %>
    <%= image_tag('xcode-logo.png', alt: 'xcode', style: 'margin-top:8px;') %>
    <%= image_tag('jquery-ui-logo.png', alt: 'jquery ui', style: 'margin-top:8px;') %>
    <%= image_tag('css3-logo.png', alt: 'css3', style: 'margin-top:8px;') %>
    <%= image_tag('macosx-logo.png', alt: 'mac osx', style: 'margin-top:8px;') %>
    <%= image_tag('xml-logo.png', alt: 'xml', style: 'margin-top:8px;') %>
  </div>

</div>
