<div class="section">
  <h1>Overview</h1>
</div>

<div class="section">
  <div class="section small-quote rounded-corners-small">
    <p>
      Articulate, personable, cutting-edge, professional, <%= render 'shared/job_title' %>, specializing Microsoft .NET
      Technology."</p>
  </div>
</div>

<div class="section">
  <p>
    Professional experience includes over <%= render 'shared/years_experience' %> years of programming/development
    disciplines, including Full Stack,
    ASP.NET/C#/Razor-based web application design/coding, architectural design, heavy object-oriented coding, UI
    design (Web/WinForms), WCF, AJAX, jQuery, jQuery UI, SQL Server 2012/2008, TFS, TDD, Agile.
  </p>

  <h1>Primary Goal</h1>

  <p>To secure a challenging, HANDS-ON, cutting-edge position, with an outstanding client, as
    a <%= render 'shared/job_title' %>, that utilizes my Microsoft .NET skills and technical know-how to
    the full.</p>

  <h1>Specialties</h1>

  <p>Full Stack, Microsoft C#.NET, ASP.NET MVC, Razor, Entity Framework, AJAX, jQuery, jQuery UI, WinForms, heavy
    object-oriented design/programming, API design/development, every-tier application design/development,
    multi-thread functionality/pooling/control/synchronization, debugging, Microsoft SQL Server/database design/stored
    procedures/triggers, TFS, TDD, Agile, etc.</p>
</div>

<div class="section">
  <h1>Technological Preference</h1>

  <%
     preference_type = :yes
     preferences = %w{agile c# asp.net\ mvc\ 4+ wcf xml\ web\ services design\ patterns ajax css entity\ framework sass
         jquery jquery\ ui orm oop ood ruby ruby\ on\ rails rubymine tdd moq rspec vs2012+ tfs git rbenv ddd dependency-injection
         ioc}
     preference_description = 'COOL! Positions utilizing these technologies/methodologies make me happy!'
  %>
  <%= render 'shared/preference_block', preference_type: preference_type, preferences: preferences, preference_description: preference_description %>

  <%
     preference_type = :meh
     preferences = %w{non-agile asp.net\ <\ mvc\ 4 <\ vs2012}
     preference_description = 'MEH. Positions utilizing these technologies/methodologies could be cool.'
  %>
  <%= render 'shared/preference_block', preference_type: preference_type, preferences: preferences, preference_description: preference_description %>

  <%
     preference_type = :no
     preferences = %w{asp.net\ webforms vb.net vbscript classic-asp dreamweaver coldfusion flash silverlight legacy wpf}
     preference_description = 'NO WAY JOSE! Positions utilizing any of these technologies/methodologies is boring, and destroys my marketability!'
  %>
  <%= render 'shared/preference_block', preference_type: preference_type, preferences: preferences, preference_description: preference_description %>

</div>