<h1>Contact</h1>

<%
   quote = "Oh, ho ho! You sly dog! You got me monologuing!"
   source = "Syndrome, The Incredibles"
   response = "Enough about me, I'd like to hear from you!"
%>

<%= render "shared/pithy_quote", :quote => quote, :source => source, :response => response %>

<div class="section">
  <p>Welcome to my <strong>contact information</strong> page. </p>
</div>

<%= render "shared/recruiter_message" %>

<div class="section">

  <%= form_for ContactModel.new, :url => {:action => :send_email} do |f| %>
      <%= f.label :first_name, :class => "form-label" %>
      <%= f.text_field :first_name, :class => "form-field" %>

      <%= f.label :last_name, :class => "form-label" %>
      <%= f.text_field :last_name, :class => "form-field" %>

      <%= f.label :email_address, :class => "form-label" %>
      <%= f.email_field :email_address, :class => "form-field" %>

      <%= f.label :email_address_confirmed, "Confirm Email Address", :class => "form-label" %>
      <%= f.email_field :email_address_confirmed, :class => "form-field" %>

      <%= f.label :telephone_number, :class => "form-label" %>
      <%= f.telephone_field :telephone_number, :class => "form-field" %>

      <%= f.label :subject, "Subject", :class => "form-label" %>
      <%= f.text_field :subject, :class => "form-field" %>

      <%= f.label :contact_message, "Message", :class => "form-label" %>
      <%= f.text_area :contact_message, :size => "60x12", :class => "form-field" %>

      <%= f.submit "Submit" %>
  <% end %>
</div>