<% content_for :head do %>
    <%= javascript_include_tag("homecontroller-index") %>
<% end %>

<h1>Home</h1>

<%= render "shared/recruiter_message" %>

<div class="section">
  <div style="float: right;">
    <%= image_tag("genemangelojr.jpg", :alt => "Gene and his wife Amy", :style => "padding:5px;") %>
  </div>
  Welcome.
  <p>
    My name is <strong>Gene M. Angelo, Jr</strong>. I am a professional Microsoft ASP.NET/C#
    architect/application developer with over 20 years of application development experience.
  </p>

  <p>
    The purpose of this web site is to introduce <strong>myself, my technical abilities
    and work experience</strong> to would-be employers. If you are an employer seeking
    to hire an articulate, personable, professional, I would like to connect with
    you.
  </p>

  <p>
    Please feel free to review my condensed,
    <%= link_to "personal profile", profile_path, :title => "View my personal profile" %>
    and/or resume available in both
    <%= link_to "online", resume_path, :title => "View my online resume" %>
    and
    <%= link_to "downloadable", downloads_path, :title => "Download my resume" %>
    formats. Contact information can be found by visiting my
    <%= link_to "Contact Information", contact_path, :title => "Contact me" %>
    page.
  </p>

  <p>
    &nbsp;
  </p>

  <div>
    <div style="padding-bottom: 20px;">Thank you for visiting!</div>
    <%= image_tag("signature.jpg", :alt => "Gene M. Angelo, Jr. Signature") %>
    <div style="padding-bottom: 10px;">Gene M. Angelo, Jr.</div>
  </div>

</div>