<h1>Links</h1>

<%
   quote = "Begin at the beginning, [said the King] and go on till you come to the end: then stop."
   source = "Lewis Carroll, Alice in Wonderland"
   response = "Or if your mad as a Hatter, begin in the middle and work your way outwards."
%>

<%= render "shared/pithy_quote", :quote => quote, :source => source, :response => response %>

<div class="section">
  <p>
    Welcome to my <strong>links page.</strong>
  </p>

  <p>
    Here you will find links to people and other things that are of interest to me; you may find them
    interesting/helpful as well. Enjoy.
  </p>

  <div class="links left-side">
    <%= link_to('GitHub', 'http://www.github.com', :target => '_blank') %>
    <%= link_to('Ruby on Rails site', 'http://rubyonrails.org', :target => '_blank') %>
    <%= link_to('The Ruby Programming Language', 'http://www.ruby-lang.org', :target => '_blank') %>
    <%= link_to('37signals', 'http://37signals.com', :target => '_blank') %>
    <%= link_to('11evergreen', 'http://11evergreen.com', :target => '_blank') %>
    <%= link_to('jQuery', 'http://jquery.com', :target => '_blank') %>
    <%= link_to('jQuery UI', 'http://jqueryui.com', :target => '_blank') %>
    <%= link_to('Avdi Grimm', 'http://devblog.avdi.org', :target => '_blank') %>
    <%= link_to('Ruby Tapas', 'http://www.rubytapas.com', :target => '_blank') %>
  </div>

  <div class="links right-side">
    <%= link_to('Heroku', 'http://www.heroku.com', :target => '_blank') %>
    <%= link_to('Sass.', 'http://sass-lang.com', :target => '_blank') %>
    <%= link_to('Engine Yard', 'https://www.engineyard.com', :target => '_blank') %>
    <%= link_to('StackOverflow', 'http://stackoverflow.com', :target => '_blank') %>
    <%= link_to('Microsoft ASP.NET', 'http://www.asp.net', :target => '_blank') %>
    <%= link_to('Ruby DCamp', 'http://www.rubydcamp.org', :target => '_blank') %>
    <%= link_to('Code School', 'http://www.codeschool.com', :target => '_blank') %>
  </div>

</div>