<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Welcome</title>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_tag do -%>
      var backgroundImage = "<%= image_path(@background_image) %>";
      var backgroundImageBlur = "<%= image_path(@background_image_blur) %>";

      var backgroundImageBottom = "<%= image_path(@background_image_bottom) %>";
      var backgroundImageBlurBottom = "<%= image_path(@background_image_blur_bottom) %>";
  <% end -%>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="main-container">

  <div class="flash-notice-container center rounded-corners-small shadow">
    <%= render "shared/flash_notice" %>
  </div>

  <div class="genemangelojr-header">
    <h1>Gene M. Angelo, Jr.</h1>
    <%= image_tag("mail-white-on-black.png", :alt => "Contact", :style => "vertical-align:middle;") %>
    <%= @contact_email %>
  </div>

  <div class="main-body center rounded-corners shadow">
    <span class="main-body-inner center rounded-corners"> </span>

    <div class="main-body-padding">
      <%= render "shared/navigation" %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>

    <div class="main-body-bottom center rounded-corners">
      <span class="main-body-inner-bottom center rounded-corners"> </span>
    </div>
  </div>
</div>

</body>
</html>
